/* NAVBAR */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
.website-info{
  width: 100%;
  position: absolute;
  background-color: transparent;
  z-index: 999;
  margin: auto;
  margin-top: 1px;
  display: flex;
  justify-content: space-evenly;
}
.website-info p{
  font-size: 14px;
  color: black;
  /* margin-right: 9.5px; */
  margin-left: -3px;
}
.goog-logo-link {
  display:none !important;
} 
.goog-te-gadget{
  color: transparent !important;
}
.navbarrrr{
  display: flex;
  height: 115px;
  width: 100%;
  border: 1px solid transparent;
  background: transparent;
  position: absolute;
  z-index: 999;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: black;
  font-size: 35px;
  font-weight: 600;
  margin-top: 17px;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 18px;
  margin-right: 0px;
}
nav ul .language {
  height: 42px;
  width: 120px;
  /* margin-top: -6px; */
  border-radius: 20px;
  border: none;
  font-size: 13.5px;
  font-weight: 700;
}
select.goog-te-combo {
  border: none;
  outline: none;
  background: transparent;
  color: black;
  font-size: 0.5;
  font-weight: 500;
  font-weight: bold;
}
@media(max-width:992px) {
  nav ul .language {
    display: none;
  }
}
nav ul button{
  height: 42px;
  width: 120px;  
  margin-top: -6px;
  border-radius: 20px;
  border: none;
  font-size: 13.5px;
  font-weight: 700;
}
nav ul button:hover{
  border: 2px solid grey;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.7s ease;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 8px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1326px){
  nav .logo{
    font-size: 24px;
    margin-bottom: 10px;
  }
  nav ul li a{
    font-size: 14px;
  }
}
@media (max-width: 1200px){
  nav .logo{
    font-size: 19.5px;
    margin-bottom: 10px;
  }
  nav ul li a{
    font-size: 14px;
  }
}
@media (max-width: 1000px){
  .website-info P{
    font-size: 13px;
  }
  nav{
    padding: 0 20px 0 30px;
  }
  nav .logo{
    font-size: 20px;
    margin-bottom: 16px;
  }
  nav ul li a{
    font-size: 12px;
    margin-right: -10px;
  }
}
@media (max-width: 920px) {
  .website-info{
    width: 0px;
    height: 0px;
    display: none;
    position: fixed;
  }
  nav .logo{
    font-size: 17px;
    margin-top: 10px;
    color: white;
  }
  .navbarrrr{
    background-color: #111111;
    position: fixed;
  }
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d"; 
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: white;
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: white;
  }
}
/* NAVBAR */
/* CONTACT-SECTION-1-TEXT */
.about-section-div-main{
  width: 100%;
  height: 470px;
  border: 1px solid transparent;
  position: relative;
  margin-top: -1px;
  background-color: black;
  opacity: 80%;
  background: rgba(76, 175, 80, 0.3);
  background-repeat: none ;
  background-size: cover;
  background-image: url("https://www.shutterstock.com/image-photo/wooden-table-top-product-display-260nw-1527533843.jpg");
}
.about-section-div-text{
  width: 50%;
  border: 1px solid transparent;
  color: white;
  margin-left: 200px;
  margin-top: 180px;
}
.about-section-div-text-first{
  font-size: 34px;
  font-weight: lighter;
}
.about-section-div-text-second{
  font-size: 40px;
  margin-top: -12px;
}
.about-section-div-text-third{
  font-size: 13px;
  margin-top: 8px;
}
@media(max-width: 768px){
  .about-section-div-text{
    margin-left: 130px;
  }
  .about-section-div-text-first{
    font-size: 23px;
    font-weight: lighter;
  }
  .about-section-div-text-second{
    font-size: 28px;
    margin-top: -12px;
  }
  .about-section-div-text-third{
    font-size: 10px;
    margin-top: 8px;
  }
}
/* CONTACT-SECTION-1-TEXT */
/* CONTACT-SECTION-A-P-E */
.contact-section-ape{
  width: 90%;
  border: 1px solid transparent;
  height: auto;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.contact-section-ape-div{
  width: 30%;
  border: 1px solid transparent;
}
.contact-section-ape-div img{
  width: 70px;
  height: 70px;
  display: block;
  margin: auto;
}
.contact-section-ape-div h1{
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color:#333333;
}
.contact-section-ape-div p{
  font-size: 13px;
  text-decoration: underline;
  text-align: center;
}
@media(max-width:768px){
  .contact-section-ape-div img{
    width:50px;
    height: 50px;
  }
}
/* CONTACT-SECTION-A-P-E */
/* CONTACT-FORM-SECTION */
.main-contact-form{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: sans-serif;
  border: 1px solid transparent;
  margin-top: 70px;
}
.section-contact {
	min-height: 100vh;
	padding-top: 100px;
	padding-bottom: 100px;
	background-image: linear-gradient(175deg, #95c186 20%, #f3d877);
}
.section-contact .containerrr {
	max-width: 1280px;
	margin: -60px auto;
	padding-left: 32px;
	padding-right: 32px
}
@media (min-width: 600px) {
	.section-contact .containerrr {
		padding-left: 64px;
		padding-right: 64px
	}
}
@media (min-width: 1024px) {
	.section-contact .containerrr {
		padding-left: 128px;
		padding-right: 128px
	}
}
.section-contact .containerrr h1 {
	color: #302c2c;
	font-size: 36px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 16px
}
.section-contact .containerrr p {
	color: #302c2c;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 32px
}

.section-contact .containerrr form {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	grid-gap: 16px;
	background-color: #FFF;
	padding: 32px;
	border-radius: 16px;
	-webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2)
}

@media (min-width: 768px) {
	.section-contact .containerrr form {
		-ms-grid-columns: (1fr)[2];
		grid-template-columns: repeat(2, 1fr)
	}
}

.section-contact .containerrr form .form-group.full {
	grid-column: 1 / -1
}

.section-contact .containerrr form .form-group label {
	display: block;
	margin-bottom: 5px;
	color: black;
	font-size: 14px
}

.section-contact .containerrr form .form-group .form-element {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border: none;
	display: block;
	width: 100%;
	border-radius: 8px;
	padding: 12px 16px;
	background-color: #F3F3F3;
	-webkit-transition: 0.4s;
	transition: 0.4s
}
.section-contact .containerrr form .form-group .form-element:focus {
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
	background-color: white;
}

.section-contact .containerrr form .form-group textarea {
	resize: none;
	min-height: 100px
}

.section-contact .containerrr form .submit-group {
	grid-column: 1 / -1;
	text-align: right
}
.section-contact .containerrr form .submit-group input[type="submit"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	outline: none;
	background: none;
	padding: 12px 16px;
	background-color: #4d5d53;
	border-radius: 8px;
	color: #FFF;
	cursor: pointer;
	-webkit-transition: 0.4s;
	transition: 0.4s
}
.section-contact .containerrr form .submit-group input[type="submit"]:hover {
	background-color: #679267;
}

.section-contact .containerrr form .submit-group input[type="submit"]:active {
	background-color: black;
}
/* CONTACT-FORM-SECTION */
/* MAP-SECTION-CONTACT-FORM */
.map-section-container{
  width: 100%;
  height: 400px;
  border: 1px solid transparent;
  margin: 30px 0px 30px 0px;
}
/* MAP-SECTION-CONTACT-FORM */
/* FOOTER-CONTACT-US */
.footer-section{
  width: 100%;
  height: 160px;
  border: 1px solid transparent;
  margin: 0;
  padding: 0;
  display: block;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.footer-icons ul li {
  display: inline-block;
}
.footer-icons ul li a {
  border: 1px solid #444;
  color: #444;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 38px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
  border-radius: 50%;
}
.footer-icons ul li a img{
  width: 60px;
  height: 40px;
}
.footer-icons {
  text-align: center;
}
.footer-contacts p span {
  color: #3EC1D5;
  font-weight: 700;
}
.popular-tag ul li {
  display: inline-block;
}
.footer-content {
  display: block;
  overflow: hidden;
}
.popular-tag ul li a:hover, 
.footer-icons ul li a:hover {
  background: #3EC1D5;
  border: 1px solid #3EC1D5;
  color: #fff;
}
.popular-tag ul li a {
  border: 1px solid #444;
  border-radius: 30px;
  color: #444;
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin: 5px 3px;
  padding: 5px 10px;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.4s ease 0s;
  width: 70px;
  text-align: center;
}
.footer-area-bottom {
  background: #f1f1f1 none repeat scroll 0 0;
  height: 190px;
  padding: 15px 0;
  padding-bottom: 32px;
}
.copyright-text a:hover {
  text-decoration: underline;
  color: #3EC1D5;
}
.copyright-text a {
  color: #444;
}
.copyright> p {
  margin-bottom: 0;
  color: #444;
  text-align: center;
}
.credits {
  padding-top: 5px;
  text-align: center;
}
.credits a {
  color: #000;
}
.contact-footer-logo img{
width: 250px;
height: 70px;
border: 1px solid red;
margin-top: -115px;
margin-left: 50px;
margin-bottom: 100px;
}
@media(max-width:1100px){
  .footer-section{
    margin-top: -30px;
  }
}
@media(max-width:1000px){
  .footer-section{
    margin-top: 1px;
  }
}
@media(max-width:900px){
  .footer-section{
    margin-top: -80px;
  }
}
@media(max-width:800px){
  .footer-section{
    margin-top: 1px;
  }
}
@media(max-width:700px){
  .footer-section{
    margin-top: -1px;
  }
}
@media(max-width:500px){
  .footer-section{
    margin-top: -80px;
  }
}
